Repository seoul-awake/seoul-awake, pull requests merged in 2023-06, with the labels that each got.

#1 feat(web, packages): vanilla extract + esbuild
  .github/workflows/labeler.yml
  .gitignore
  apps/web/app/page.tsx
  apps/web/package.json
  packages/react-ui/Button.tsx
  packages/react-ui/esbuild.config.js
  packages/react-ui/package.json
  packages/react-ui/src/Button/Button.css.ts
  packages/react-ui/src/Button/Button.tsx
  packages/react-ui/src/Button/index.ts
  packages/react-ui/src/index.ts
  packages/react-ui/tsconfig.json
  pnpm-lock.yaml
Labels: .github, frontend, packages

#2 feat: init server
  .gitignore
  graphql/.empty
  graphql/schema.graphqls
  server/.empty
  server/.gitignore
  server/build.gradle
  server/gradle/wrapper/gradle-wrapper.jar
  server/gradle/wrapper/gradle-wrapper.properties
  server/gradlew
  server/gradlew.bat
  server/settings.gradle
  server/src/main/java/com/seoulawake/backend/BackendApplication.java
  server/src/main/java/com/seoulawake/backend/global/BaseEntity.java
  server/src/main/java/com/seoulawake/backend/module/cafe/application/CafeService.java
  server/src/main/java/com/seoulawake/backend/module/cafe/domain/Cafe.java
  server/src/main/java/com/seoulawake/backend/module/cafe/domain/Location.java
  server/src/main/java/com/seoulawake/backend/module/cafe/domain/repository/CafeRepository.java
  server/src/main/java/com/seoulawake/backend/module/cafe/presentation/CafeController.java
  server/src/main/resources/application.yml
  server/src/main/resources/graphql/domain/cafe.graphqls
  server/src/main/resources/graphql/mutation.graphqls
  server/src/main/resources/graphql/node.graphqls
  server/src/main/resources/graphql/query.graphqls
  server/src/test/java/com/seoulawake/backend/BackendApplicationTests.java
  server/src/test/java/com/seoulawake/backend/common/RepositoryTest.java
  server/src/test/java/com/seoulawake/backend/common/ServiceTest.java
Labels: backend, packages

#3 feat(docs, package): storybook
  apps/docs/.eslintrc.js
  apps/docs/.storybook/main.ts
  apps/docs/.storybook/preview.ts
  apps/docs/app/layout.tsx
  apps/docs/app/page.tsx
  apps/docs/package.json
  apps/docs/stories/Button.stories.tsx
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  packages/react-ui/src/Button/Button.tsx
  pnpm-lock.yaml
Labels: documentation, dependencies

#5 feat(packages): storybook-vite-docs + chromatic
  .github/workflows/chromatic.yml
  .npmrc
  apps/docs/.eslintrc.cjs
  apps/docs/.eslintrc.js
  apps/docs/.gitignore
  apps/docs/.storybook/main.ts
  apps/docs/README.md
  apps/docs/app/layout.tsx
  apps/docs/app/page.tsx
  apps/docs/index.html
  apps/docs/next-env.d.ts
  apps/docs/next.config.js
  apps/docs/package.json
  apps/docs/src/App.tsx
  apps/docs/src/Button.stories.tsx
  apps/docs/src/main.tsx
  apps/docs/src/vite-env.d.ts
  apps/docs/tsconfig.json
  apps/docs/tsconfig.node.json
  apps/docs/vite.config.ts
  packages/react-ui/package.json
  pnpm-lock.yaml
  turbo.json
Labels: documentation, .github, dependencies
